.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 60px;
  margin: 1rem;

  .error {
    text-align: center;
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
  }
  .discountInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;

    &__code {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: red;
    }

    &__button {
      margin-left: 10px;
      padding: 0.2rem 0.2rem;
      font-size: 0.6rem;
      font-weight: normal;
    }
  }

  .discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__label {
      margin-right: 10px;
      text-transform: uppercase;
    }
    &__input {
      margin-right: 10px;
    }
  }
}
