.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  .delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0;
    width: 100%;

    &__input {
      display: flex;
      label {
        width: 140px;
        text-transform: uppercase;
      }
      input,
      select {
        width: 250px;
        height: auto;
      }
    }

    &__phone {
      display: flex;

      input {
        width: 175px;
        height: auto;
      }

      select {
        width: 75px;
        height: auto;
      }
    }
    &__error {
      color: red;
    }
  }

  .buttons {
    display: flex;
    margin: 1rem 0;

    .button {
      margin: 1rem 1rem 0;
    }
  }
}
