.summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 20px;

  &__totalQuantity {
    margin-right: 20px;
  }
  &__totalPrice {
    margin-right: 20px;
  }
}
