.container {
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  background-color: #ebebeb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 1440px;
  margin: 0 auto;

  .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__title {
      display: flex;
      margin: 0 10px;
      padding: 5px;
      font-size: 2rem;
      color: #111111;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.1s linear;

      &__icon {
        margin-left: 5px;
        transition: all 0.1s linear;
        color: #111111;

        &__rotate {
          transform: rotate(180deg);
        }
      }
      &:hover {
        transform: scale(1.1);
      }
    }

    .list {
      display: none;
      position: fixed;
      align-items: flex-start;
      flex-direction: column;
      background-color: #ebebeb;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

      &__visible {
        display: flex;
        animation: fadeIn 0.5s;

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

      &__item {
        width: 100%;
        padding: 5px;
        list-style-type: none;
        text-decoration: none;
        color: #111111;
        text-transform: uppercase;
        transition: all 0.1s linear;
        &:hover {
          background-color: #cfd8e0;
        }
      }
    }
  }
}
