.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 120px - 1rem);
  margin: 120px auto 1rem;
  padding-top: 50px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  &__success {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 120px - 1rem);
  gap: 1rem;
  margin: 120px auto 1rem;

  .cart {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .sideWrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 500px;

    &__discount {
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
    &__delivery {
      margin: 1rem 0 0;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
  }
}
