.wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 120px;
  min-height: calc(100vh - 120px);
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  .success {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .cart {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
  }
}
