.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  margin: 120px 0 0;

  .success {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .cart {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 1rem;
  }
}
